body{
  width: 100%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
ul{
  padding: 0px;
}
h1{
  font-size: 50px;
  font-weight: bold;
}
h2{
  font-size: 40px;
  font-weight: bold;
}
h3{
  font-size: 30px;
  font-weight: bold;
}
h4{
  font-size: 20px;
  font-weight: bold;
}
p{
  font-size: 18px;
}
button{
  padding: 1em 2em;
  background-color: #F4CE14;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}
button.returnButton{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
}
button.returnButton img{
  width: 100%;
}
button:hover{
  scale: 105%;
  filter: brightness(80%);
  transition: 0.1s;
}



nav{
  padding: 1em 10%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}


nav li{
  padding: 1em;
  display: inline-block;
}
nav a{
  color: #495E57;
}
nav a:hover{
  text-decoration: underline solid 2px ;
  color: #293430;
}
.bar{
  width: 30px;
  height: 3px;
  background-color: #495E57;
  margin: 5px;
}

.hamburgermenu{
  display: none;
}

.vision{
  display: block;
}

/* ----------------------------------HEADER SECTION--------------------------- */
main{
  position: relative;
}

header{
  padding: 30px 10%;
  background-color: rgb(73, 94, 87);
  color: white;
  padding-bottom: 50px;
}

header h2{
  color: #F4CE14;
}
header p{
  margin: 30px 0px;
}
header article{
  width: 40vw;
}
header section{
  position: relative;
}
header article+div{
  position: absolute;
  overflow: hidden;
  height: 70vh;
  background-size: contain;
  right: 0px;
  top: 0px;
  border-radius: 50px 0px 50px;
  border: 5px solid white;
}
header article+div>img{
  height: 100%;
}

/* ----------------------------------------------CONFIRMATION-------------------------------------------------- */

div.confirm{
  width: 100%;
  background-color: #495E57;
  color: white;
  text-align: center;
  padding: 1em;
}
h3.confirm{
  display: inline;
}
h1.confirm{
  display:inline;
  color:#F4CE14;
  margin: 0.5em;
}

/* ----------------------------------BOOKINGPAGE----------------------------------------- */

.BookingPage{
  width: 100%;
  background-color: #495E57;
  display: flex;
  justify-content: center;
}
.BookingPage fieldset{
  width: max-content;
  margin: 30px;
  border: 2px solid white;
  position: relative;
}
form label{
  font-size: 20px;
  color: white;
}
form input,form select{
  font-size: 16px;
  padding: 5px;
  width: 600px;
  margin-top: 10px;
}
form select{
  width: max-content;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form button{
  width: max-content;
}
.BookingPage legend{
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.formReturn{
  position: absolute;
  top: 0px;
  right: 11px;
}

                                                    /* ---------------------MEALS PAGE ------------------------- */

.mealsPage{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mealsPage>h2{
  margin: 80px 10%;
}
.mealsPage .meals{
  display: grid;
  padding: 0px 10%;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
}
form.meal{
  background-color: #495E57;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  padding-bottom: 70px;
}
form.meal>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.meal .nameprice{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
form.meal>img{
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}
form.meal h4{
  width: max-content;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: white;
}
form.meal p{
  font-size: 12px;
  color: white;
}
form.meal .line{
  flex: 1;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.314);
  align-self: center;
  translate: 0px 10px;
}
.rating img{
  width: 15px;
  height: 15px;
}
.rating{
  display: flex;
  gap: 3px;
  align-items: center;
}
.meal button{
  font-size: 15px;
  margin-top: 10px;
  position: absolute;
  bottom: 20px;
  width: 80%;
  margin: 0px 10%;
  left: 0px;
}
.mealsPage>button{
  width: max-content;
  margin: 50px auto;
}
.mealsPage>div:nth-child(2){
  margin: 10px 10%;
  gap: 5px;
}
.mealsPage>div:nth-child(2)>select{
  margin-left: 10px;
}

/* ------------------------------------------------RECEIPT--------------------------------------------- */

.receipt{
  position: fixed;
  right:0px;
  width: 400px;
  background-color: #313f3b;
  height: 100vh;
  top: 0px;
  z-index: 2;
  translate: 100%;
  transition: 0.5s;
  color: white;
}
.slideButton{
  width: 100px;
  height: 50px;
  border-radius: 50px 0px 0px 50px;
  background-color: #F4CE14;
  position: fixed;
  right: 0px;
  bottom: 150px;
  z-index: 3;
  transition: 0.2s;
  translate: -400px;
  cursor: pointer;
  color: black;
}
.slideButton:hover{
  width: 120px;
}
.esc{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding-bottom: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4CE14;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}
.esc:hover{
  scale: 110%;
  transition: 0.2s;
  opacity: 0.7;
}
.slideButton>div{
  position: absolute;
  left: 50px;
  top: 5.5px;
  text-align: center;
}

.receipt h2{
  text-align: center;
}
.receipt .nameprice{
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
}
.receipt .line{
  flex: 1;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.148);
  align-self: center;
  translate: 0px 8px;
}
.receipt h4{
  font-size: 14px;
  margin: 0px;
}
.receipt h3{
  padding: 0% 10%;
}
.editOrders{
  padding: 0% 10%;
  display: flex;
  justify-content: right;
  margin-top: 10px;
  gap: 10px;
}
.receipt>div:nth-child(3){
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.editOrders>button{
  padding: 5px;
  border-radius: 50px;
}
.receipt .editIcon, .receipt .deleteIcon{
  width: 20px;
  height: 20px;
  translate: 1px 2px;
}
.receipt .deleteIcon{
  width: 16px;
  height: 16px;
  padding: 2px;
}
.swipeImg{
  width: 50px;
  transform: rotatey(180deg);
  transition: 0.4s;
}
.receipt hr{
  opacity: 0.4;
  margin-top: 20px;
}
.moveLeft{
  translate: 0%;
}
.rotateImg{
  transform: rotatey(0deg);
  transition: 0.4s;
}


@media (max-width: 980px) {
  .hamburgermenu{
    display: block;
  }
  nav li{
    display: block;
    text-align: center;
  }
  nav ul{
    position: absolute;
    left: 0px;
    top: 60px;
    background-color: #313f3b;
    border-bottom: 1px solid white;
    width: 100%;
    z-index: 1000;
  }
  nav ul a{
    color: white;
  }
  .vision{
    display: none;
  }
  /* ------------------------------------ HEADER SECTION ------------------------------------ */
  header section{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  header article{
    width: 100%;
  }
  header article+div{
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
  }
  header article+div>img{
    translate: 0%;
    width: 100%;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -55%;
    filter: brightness(50%);
  }
  /* ---------------------------------CONFIRMATION PAGE------------------------------------- */
  div.confirm{
    padding: 20px 0px;
  }
  div.confirm h1{
    font-size: 30px;
  }
  div.confirm h3{
    font-size: 20px;
  }

  /* ------------------------------------BOOKING PAGE-------------------------------------------- */

  form input{
    width: 200px;
  }

  /* ---------------------------------------MEALS LIST ------------------------------------------------------- */

  .mealsPage div.meals{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  div.meals div.meal{
    padding-bottom: 70px;
  }
  .mealsPage div.meals h4{
    font-size: 14px;
  }
  .mealsPage div.meals p{
    font-size: 12px;
    color: white;
  }
  .meal button{
    margin-bottom: 0px;
  }

}